<table width="100%" bgcolor="#FFE7D1"  {{> email-table-props}}>
    <tr><td height="15" colspan="3" class="h-spacer-15">&nbsp;</td></tr>
    <tr>
      <td width="20"></td>
      <td align="center" class="h-dark-text-color h-default-text h-text-center-align">
        {{> @partial-block }}
      </td>
      <td width="20"></td>
    </tr>
    <tr><td colspan="3" height="15" class="h-spacer-15">&nbsp;</td></tr>
</table>
