<a href="{{link}}">
  <table class="cta-button-container" width="280" height="60"  {{> email-table-props}}>
    <tr>
      <td width="25" bgcolor="#000000" align="left" class="cta-button-edge-left"></td>
      <td bgcolor="#000000" align="left" height="60">
        <font color="#FFFFFF" class="cta-button">
          {{{label}}}
        </font>
      </td>
      <td width="40" align="right" bgcolor="#000000" class="cta-button-edge-right">
          <img width="50" height="60" src="{{ static-url 'email/v2/email-button-chevron.jpg' }}">
      </td>
    </tr>
  </table>
</a>
