{{#extend "email-layout"}}

  {{#content "preheader"~}}
      If you have any questions please let us know.
  {{~/content}}

  {{#content "content"~}}
      <table width="100%" {{> email-table-props}}>
          <tr>
              <td class="h-dark-text-color h-h1">
                  Your appointment has been refunded.
              </td>
          </tr>
          <tr><td height="20"></td></tr>
          <tr>
              <td class="h-medium-text-color h-default-text">
                  Your Getlabs appointment has been refunded. If you have any questions please let us know. For questions
                  call or text <span class="h-no-wrap">1-800-388-4099</span>. Thank you!
              </td>
          </tr>
          <tr><td height="30"></td></tr>
      </table>
      {{> email-button link="https://getlabs.com" label="Visit Getlabs"}}
  {{~/content}}

{{/extend}}
