{{#extend "email-layout"}}

  {{#content "preheader"~}}
    Your visit time has changed.
  {{~/content}}

  {{#content "content"~}}
    <table width="100%" {{> email-table-props}}>
      <tr>
        <td class="h-dark-text-color h-h1">
          Your visit time has changed
        </td>
      </tr>
      <tr><td height="20"></td></tr>
      <tr>
        <td>
          {{#> email-highlight-message }}
            {{capitalize (format-date-time-range appointment.startAt appointment.endAt appointment.patient.timezone)}}
          {{/email-highlight-message}}
        </td>
      </tr>
      <tr><td height="20"></td></tr>
      <tr>
        <td class="h-medium-text-color h-default-text">
          We may call or text if we have any questions. Please answer to avoid any delays or cancellation.
        </td>
      </tr>
      <tr><td height="20"></td></tr>
      <tr>
        <td class="h-medium-text-color h-default-text">
          If you need to make any changes, you can do so at <a href="https://getlabs.com" class="h-default-link h-no-wrap">getlabs.com</a>
        </td>
      </tr>
    </table>
  {{~/content}}

{{/extend}}
